<link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
<div class="main-div">
    <div style="margin-top: 15%">
        <div style="justify-content: center; display: flex;">
            <a class="w1"><i class="em em-wave" aria-role="presentation" aria-label="WAVING HAND SIGN"></i>
                         Bienvenido! </a>
            
        </div>
        <div><br></div>
        <div style="justify-content: center; display: flex; ;">
            <a class="w2">
                ¿Qué enviaremos hoy? <i class="em em-package" aria-role="presentation" aria-label="PACKAGE"></i>
            </a>

        </div>
    </div>
</div>